.btn-primary {
    margin-bottom: 5px !important;
    background-color: #1DD19F;
}

.btn-primary:hover {
    margin-bottom: 5px !important;
    background-color: #1DD19F;
}

a {
    color: #1DD19F;
}

a:hover {
    color: #1DD19F;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    box-shadow: inset 0 -2px 0 #1DD19F;
}

.bg-primary {
    background-color: #1DD19F;
}

#closePopup {
    position: absolute;
    top: 15px;
    right: 15px;
}

#savingActionsArea {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#savingActionsArea a {
    width: 98%;
    text-align: left;
    vertical-align: middle;
}

#savingActionsArea div {
    padding-left: 0;
    padding-right: 0;
}

.badge {
    margin-right: 5px
}